**/.classpath
**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
secrets/*
secrets/**
**/secrets
**/.hintrc
appsettings.Development.json
**/_tmp_decrypt
_tmp_decrypt
localhost_perform_db_migration.sh
*.sh
*.ps1
Properties/launchSettings.json.bak